<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../icons/2x/relatorio.png" /> -->
    <title>Login - Controle de Horas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <nav class="card-default rounded-bottom navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand medium" href="home">Controle de Horas</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link medium" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link medium" href="about">Sobre</a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link medium" href="login">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link medium" style="cursor: default;">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link medium" href="register">Registrar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="card" id="cardLogin">
            <h1 class="medium col-12" id="loginLabel">LOGIN</h1>
            <form action="/login/logar" method="post">
                <div class="form-group">
                    <label class="labelDefault medium" id="labelEmail">Email</label>
                    <input class="form-control light" type="email" id="email" name="email" placeholder="email@completo.com.br">
                    <label class="labelDefault medium" id="labelSenha">Senha</label>
                    <input class="form-control light" type="password" id="password" name="password" placeholder="suasenha">
                    <label class="labelDefault medium" id="esqueciSenha">Esqueci minha senha.</label>
                    <input class="btn btn-success col-12" type="submit" value="Entrar" id="entrar"/>
                    <button class="btn btn-primary col-12" id="registrar">Registrar</button>
                </div>
            </form>
    </div>
</body>
<!-- <script src="../javascript/relatorios.js"></script> -->
</html>